### Cleaning the dataframe (dropping unnecessary columns).

In [1]:
# importing neccessary libraries.
import numpy as np
import pandas as pd
import nlp_utils as nu

In [2]:
# loading data.
df=pd.read_csv('NormalisedDataFrame.csv')

In [3]:
df

,Unnamed: 0,0,1,2,3,4,5,6
0,0,one of the other reviewers has mentioned that ...,NaN,NaN,NaN,NaN,NaN,NaN
1,1,"0,""One of the other reviewers has mentioned th...",NaN,NaN,NaN,NaN,NaN,NaN
2,2,"1,""A wonderful little production. <br /><br />...",NaN,NaN,NaN,NaN,NaN,NaN
3,3,"2,""I thought this was a wonderful way to spend...",NaN,NaN,NaN,NaN,NaN,NaN
4,4,"3,""Basically there's a family where a little b...",NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
997,997,"996,""I hated it. I hate self-aware pretentious...",NaN,NaN,NaN,NaN,NaN,NaN
998,998,"997,""I usually try to be professional and cons...",NaN,NaN,NaN,NaN,NaN,NaN
999,999,"998,""If you like me is going to see this in a ...",NaN,NaN,NaN,NaN,NaN,NaN
1000,1000,"999,""This is like a zoology textbook, given th...",NaN,NaN,NaN,NaN,NaN,NaN
1001,1001,"999,""This is like a zoology textbook, given th...",NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# dropping unnecessary columns.
df.drop(['Unnamed: 0','1','2','3','4','5','6'],axis=1,inplace=True)

In [5]:
# row 1 has repeated so it is dropped.
df.drop(df.index[:1], inplace=True)

In [6]:
# row 1000 has repeated aswell, so it is dropped.
df.drop(df.index[1000:], inplace=True)

In [7]:
# renaming column 0 as "Text". 
df= df.rename(columns={'0': 'Text'})

In [8]:
# Replacing special characters with ' '.
df.replace('\d+', '', regex=True, inplace=True)
df.replace(',', '', regex=True, inplace=True)
df.replace('br', '', regex=True, inplace=True)
df.replace('"', '', regex=True, inplace=True)
df.replace("'", '', regex=True, inplace=True)
df.replace('?', '', inplace=True)
df.replace("-", '', regex=True, inplace=True)
df.replace("*", '', inplace=True)
df.replace("***", '', inplace=True)
df.replace("< />", '', regex=True, inplace=True)

In [9]:
df['Text'] = df['Text'].str.strip('[')
df['Text'] = df['Text'].str.strip(']')
df['Text'] = df['Text'].str.strip(')')
df['Text'] = df['Text'].str.strip('(')

In [10]:
df

                                                   Text
1     One of the other reviewers has mentioned that ...
2     A wonderful little production. The filming tec...
3     I thought this was a wonderful way to spend ti...
4     Basically theres a family where a little boy (...
5     Petter Matteis Love in the Time of Money is a ...
...                                                 ...
996   Nothing is sacred. Just ask Ernie Fosselius. T...
997   I hated it. I hate selfaware pretentious inani...
998   I usually try to be professional and construct...
999   If you like me is going to see this in a film ...
1000  This is like a zoology textbook given that its...

[1000 rows x 1 columns]

In [11]:
df['Text'] = df['Text'].apply(nu.lemmatization_sentence)

In [12]:
df['Text']

1       one of the other reviewer have mention that af...
2       a wonderful little production the filming tech...
3       i think this be a wonderful way to spend time ...
4       basically theres a family where a little boy j...
5       petter matteis love in the time of money be a ...
                              ...
996     nothing be sacred just ask ernie fosselius the...
997     i hat it i hate selfaware pretentious inanity ...
998     i usually try to be professional and construct...
999     if you like me be go to see this in a film his...
1000    this be like a zoology textbook give that it d...
Name: Text, Length: 1000, dtype: object

In [13]:
dfw = pd.DataFrame(df)
  
#saving the dataframe 
dfw.to_csv('CleanedDataFrame.csv')